@import "../colors";

$fontConfig: mat-typography-config();


.mat-raised-button,
.mat-button {
    &.button-18 {
        line-height: 22px;
        .mat-button-wrapper {
            font-size: mat-font-size($fontConfig, caption);
        }
    }
}
.mat-button {
    mat-icon.icon-18 {
        margin-bottom: 2px;
        margin-right: 8px;
    }
}

mat-icon.icon-18 {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
}

button.mat-icon-button.size-18 {
    height: 32px;
    width: 32px;
    line-height: 32px;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        line-height: 18px;
    }
}

.mat-tooltip.filename {
    max-width: 80%;
    word-break: break-all;
    text-overflow: clip;

}

.icon-svg {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    &.cluster {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjYmQ5M2Y5Ij4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTkuMzUgMTAuMDRDMTguNjcgNi41OSAxNS42NCA0IDEyIDQgOS4xMSA0IDYuNiA1LjY0IDUuMzUgOC4wNCAyLjM0IDguMzYgMCAxMC45MSAwIDE0YzAgMy4zMSAyLjY5IDYgNiA2aDEzYzIuNzYgMCA1LTIuMjQgNS01IDAtMi42NC0yLjA1LTQuNzgtNC42NS00Ljk2ek0xOSAxOEg2Yy0yLjIxIDAtNC0xLjc5LTQtNHMxLjc5LTQgNC00aC43MUM3LjM3IDcuNjkgOS40OCA2IDEyIDZjMy4wNCAwIDUuNSAyLjQ2IDUuNSA1LjV2LjVIMTljMS42NiAwIDMgMS4zNCAzIDNzLTEuMzQgMy0zIDN6Ii8+PC9zdmc+);
    }
    &.keyspace {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+ICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+ICA8cGF0aCBmaWxsPSIjYjE4MGQ3IiBkPSJNMTIgMkwzIDcuNzE0djguNTdMMTIgMjJsOS01LjcxNFY3LjcxNEwxMiAyem0tMSAxNi45OTZsLTYtMy44MVY5LjU1NGw2IDMuODF2NS42MzJ6TTYuMjg0IDhMMTIgNC4zNyAxNy43MTYgOCAxMiAxMS42MyA2LjI4NCA4ek0xOSAxNS4xODZsLTYgMy44MXYtNS42M2w2LTMuODF2NS42M3oiLz48L3N2Zz4=);
    }
    &.size-18 {
        width: 18px;
        height: 18px;
    }
}

.vscode-dark,
.vscode-high-contrast {
    .material-custom.drop-down mat-option {
        // background-color: red;
        user-select: none;
        * {
            user-select: none;
        }
        &.mat-selected {
            background-color: #e91e63 !important;
            color: #fafafa !important;
        }
    }
    .mat-menu-panel.material-custom.context-menu {

        .mat-menu-content {
            padding: 0;
            .mat-menu-item {
                padding: 8px 32px 8px 16px;
                line-height: 100%;
                height: auto;
            }
        }
    }

}

.cdk-overlay-container {
    .cdk-overlay-backdrop {
        //         opacity: 0;
        transition: 150ms linear;
        //         transform: translate3d(0, 0, 0);
        //         background-color: green;
        //         &.backdrop-animated {
        //             background-color: red;
        //             opacity: 1;
        //         }
        &.cdk-overlay-backdrop-showing {
            opacity: 1;
        }
    }
}

.backdrop-hidden {
    background: transparent;
}
