@import "../colors";

$fontConfig: mat-typography-config();


.mat-raised-button,
.mat-button {
    &.button-18 {
        line-height: 22px;
        .mat-button-wrapper {
            font-size: mat-font-size($fontConfig, caption);
        }
    }
}


mat-icon.icon-18 {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
}

button.mat-icon-button.size-18 {
    height: 32px;
    width: 32px;
    line-height: 32px;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        line-height: 18px;
    }
}

.vscode-dark,
.vscode-high-contrast {
    .material-custom.drop-down mat-option {
        // background-color: red;
        user-select: none;
        * {
            user-select: none;
        }
        &.mat-selected {
            background-color: #e91e63 !important;
            color: #fafafa !important;
        }
    }
    .mat-menu-panel.material-custom.context-menu {

        .mat-menu-content {
            padding: 0;
            .mat-menu-item {
                padding: 0 16px;
                line-height: 210%;
                height: auto;
            }
        }
    }

}

.cdk-overlay-container {
    .cdk-overlay-backdrop {
        //         opacity: 0;
        transition: 150ms linear;
        //         transform: translate3d(0, 0, 0);
        //         background-color: green;
        //         &.backdrop-animated {
        //             background-color: red;
        //             opacity: 1;
        //         }
        &.cdk-overlay-backdrop-showing {
            opacity: 1;
        }
    }
}

.backdrop-hidden {
    background: transparent;
}
