 @import '~@angular/material/theming';

 $primary: mat-palette($mat-indigo);
 $accent: mat-palette($mat-pink, A200, A100, A400);
 $background: mat-palette($mat-grey);
 $warn: mat-palette($mat-red);
 $blue: mat-palette($mat-blue);
 $yellow: mat-palette($mat-yellow);
 $green: mat-palette($mat-green);
 $cyan: mat-palette($mat-cyan);



