@import "../../../../scss/colors";

:host {
    position: relative;

    .root {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: visible;
        overflow-y: visible;
        background-color: transparent;
    }

    .menu-trigger {
        width:2px;
        height: 2px;
        background-color: red;
        position: absolute;
        top:0;
        left:0;
    }
}
