 @import "./scss/theme";
 @import "./scss/ui";
 @import "./scss/code-theme/index";
 @import "./scss/global/index";
 mat-icon.icon-18 {
     height: 18px;
     width: 18px;
     line-height: 18px;
     font-size: 18px;
 }

 button.mat-icon-button.size-18 {
     height: 32px;
     width: 32px;
     line-height: 32px;
     mat-icon {
         height: 18px;
         width: 18px;
         font-size: 18px;
         line-height: 18px;
     }
 }

 body>.app-root {
     // background-color: red;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }
