 @import "./scss/theme";
 @import "./scss/code-theme/index";

 mat-icon.icon-18 {
     height: 18px;
     width: 18px;
     line-height: 18px;
     font-size: 18px;
 }

 body {
     overflow: hidden;
 }

 body>.app-root {
     // background-color: red;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }
