/* You can add global styles to this file, and also import other style files */
@import "./scss/theme";

body>.app-root {
    // background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
