@import "../colors";
body.dark-theme .editor {
    .keyword {
        color:	fuchsia;
        // padding-left: 20px;
        // &::before{
            // content: 'KW';
            // position: absolute;
            // left:-30px;
            // color:red;
        // }
    }
    .syntax {
        &.syntaxComma {
             color: limegreen;
        }
        &.syntaxBracketLr,
        &.syntaxBracketRr{
            color: goldenrod;
        }
    }
    .column{
        color:cyan;
    }
    .table{
        color:#bd93f9
    }
    .keyspace{
        color:#ff79c6
    }
}
