@import "../../../../scss/colors";
:host {
    position: relative;
    overflow: auto;
    .root {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        color: #333333;
        // will-change: scroll-position;
    }
}
