@import "../../../../scss/colors";
:host {
    position: relative;
    .root {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        .lines {
            z-index: 2;
            position: absolute;
            text-align: right;
            min-width: 3em;
            top: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            user-select: none;
            .line {
                user-select: none;
                padding-left: 8px;
                padding-right: 8px;
                &.selected {
                    background-color: mat-color($primary, 500);
                }
            }
        }
        .wrapper {
            position: absolute;
            background-color: transparent; // cursor: text;
            top: 0;
            left: 75px;
            bottom: 0;
            right: 0;
            overflow-x: auto;
            overflow-y: auto;
            .cursor-trap {
                position: relative;
                top: 0;
                left: 0; // right: 0;
                // bottom: 0;
                // background-color: navy;
                min-height: 100%;
                min-width: 100%;
                cursor: text;
                z-index: 1;
                will-change: transform;
            }
            .contenteditable {
                z-index: 2;
                position: relative;
                padding-left: 8px;
                padding-right: 8px;
                display: inline-block;
                white-space: pre;
                outline: none;
                min-width: 100%;
                box-sizing: border-box; // background: darkslateblue;
                caret-color: yellow;
            }
        }
    }
    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    ::-webkit-scrollbar {
        cursor: pointer;
    }
}
