:host {
    position: relative;
    .root {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        .lines{
            padding-left: 4px;
            padding-right: 4px;
            text-align: right;
        }
    }
    .wrapper {
        padding-left: 8px;
        .contenteditable {
            display: inline-block;
            position: relative;
            white-space: pre;
            outline: none;
            min-width: 8px;
        }
    }
}
