<div class="root mat-body-1">
    <div #top class="top" fxLayout="column">
        <form fxLayout="row" fxLayoutAlign="start center" class="cluster-actions mat-app-background" [formGroup]="formGroup">
            <mat-icon class="dropdown icon-18">cloud_queue</mat-icon>
            <mat-form-field color="accent" floatLabel="never" class="no-underline">
                <mat-select panelClass="material-custom drop-down" placeholder="Select cluster" [ngModel]="editorCurrent.statement.clusterName"
                    (ngModelChange)="onClusterChange($event)" formControlName="clusterName" matTooltip="Select cluster">
                    <mat-option *ngFor="let i of clusterList" [value]="i.name">
                        {{i.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="sep"></div>
            <mat-progress-spinner *ngIf="clusterLoading" mode="indeterminate" [diameter]="18" color="accent"
                [strokeWidth]="2" class="keyspace-progress"></mat-progress-spinner>
            <div *ngIf="!clusterLoading && !clusterLoadingError" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="dropdown icon-18">panorama_fish_eye</mat-icon>
                <mat-form-field color="accent" floatLabel="never" class="no-underline">
                    <mat-select panelClass="material-custom drop-down" placeholder="Select keyspace" [ngModel]="editorCurrent.statement.keyspace"
                        (ngModelChange)="onKeyspaceChange($event)" formControlName="keyspace" matTooltip="Select keyspace">
                        <mat-option *ngFor="let i of keyspaceList" [value]="i.name">
                            {{i.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="formGroup.controls['clusterName'].errors?.required" class="cluster-loading-error mat-caption mr">Cluster
                selection is required</div>
            <div *ngIf="clusterLoadingError && !clusterLoading && !formGroup.controls['clusterName'].errors?.required"
                class="cluster-loading-error mat-caption mr">Error retrieving cluster structure</div>

            <div class="sep"></div>
            <button *ngIf="editorCurrent.statement.modified" color="warn" mat-button matTooltip="Save {{ editorCurrent.statement.filename }}"
                (click)="onStatementSave.emit()">
                <span fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="icon-18">save</mat-icon><span>SAVE</span>
                </span>
            </button>
            <div fxFlex></div>
            <button [disabled]="(editorCurrent.stateExecuting | async) || clusterLoadingError || clusterLoading || !formGroup.valid"
                color="primary" mat-button (click)="executeCql()">EXECUTE</button>
            <mat-progress-bar *ngIf="editorCurrent.stateExecuting | async" class="progress" mode="indeterminate" color="accent"></mat-progress-bar>
        </form>
        <ui-monaco-editor #monacoEditor [editor]="editorCurrent" (onCodeChange)="onCodeChange($event)" (onExecute)="executeCql()"
            fxFlex></ui-monaco-editor>
    </div>
    <div #bottom class="bottom" fxLayout="column">
        <div fxFlex class="bottom-client" fxLayout="column">
            <div *ngFor="let item of editorService.list;index as ix;trackBy: trackEditor" class="editor-panel"
                [@panelAnimation]="panelAnimationState[item.id]" (@panelAnimation.start)="panelAnimationStart($event,ix)"
                (@panelAnimation.done)="panelAnimationDone($event,ix)" fxLayout="column">
                <ui-data-grid #dataGrid fxFlex [editor]="item" *ngIf="!(item.stateExecuting | async) && item.result && item.result.analysis.selectData"></ui-data-grid>
                <div class="result-panel" *ngIf="item.result && !item.result.analysis.selectData" fxFlex>
                    <div class="success" *ngIf="item.result.errors==null || item.result.errors.length===0">
                        Success
                    </div>
                    <div class="errors" *ngIf="item.result.errors.length>0">
                        <div *ngFor="let ei of item.result.errors;index as eix;" class="item mat-body-1" fxLayout="row"
                            fxLayoutAlign="start start" (click)="onErrorClick($event,eix)">
                            <div class="index">{{ ei.statementIndex}}</div>
                            <div class="desc">{{ ei.error.message}}</div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="not-executed" *ngIf="!item.executed">
                    <div class="action" fxLayout="column">
                        <div fxLayoutAlign="center center" fxLayout="row">
                            <button mat-fab color="accent" (click)="executeCql()" [disabled]="(editorCurrent.stateExecuting | async) || clusterLoadingError || clusterLoading">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>
                        </div>
                        <div class="sep"></div>
                        <div fxLayoutAlign="center center" fxLayout="row">
                            <button mat-button color="accent" (click)="executeCql()" [disabled]="(editorCurrent.stateExecuting | async) || clusterLoadingError || clusterLoading">
                                EXECUTE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
