<div class="root mat-body-1">
    <div #top class="top" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" class="cluster-actions">
            <mat-icon>device_hub</mat-icon>
            <mat-form-field color="accent" floatLabel="never" class="no-underline">
                <mat-select placeholder="Select cluster" [ngModel]="editorCurrent.statement.clusterName"
                    (ngModelChange)="onClusterChange($event)">
                    <mat-option *ngFor="let i of clusterList" [value]="i.name">
                        {{i.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlex></div>
            <button color="accent" mat-button (click)="executeCql()">EXECUTE</button>
        </div>
        <ui-monaco-editor [editor]="editorCurrent" (onCodeChange)="onCodeChange($event)" (onExecute)="executeCql()" #monacoEditor fxFlex></ui-monaco-editor>
        <div>Bottom</div>
    </div>
    <div #bottom class="bottom" fxLayout="column">
        <div fxFlex class="bottom-client" fxLayout="column">
            <ui-data-grid fxFlex [queryResult]="editorCurrent.result"
            *ngIf="editorCurrent.result && showGrid"></ui-data-grid>
        </div>
        <div class="result-bar" fxLayout="row">
            <div>3 changes</div>
            <mat-icon>check</mat-icon>
            <mat-icon>close</mat-icon>
        </div>
    </div>
</div>
