<div class="root mat-app-background vscode-dark" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" class="header">
        <div class="actions">
            <button mat-icon-button class="size-18">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="size-18">
                <mat-icon>folder_open</mat-icon>
            </button>
        </div>
        <ui-content-horizontal #tabScroll class="tabs" fxFlex>
            <div class="tabs-wrap" #tabList fxLayout="row" fxLayoutAlign="start center">
                <div #tabItems *ngFor="let i of editorService.list;index as ix" class="item" [class.active]="ix===editorIndex"
                    (mousedown)="onTabMousedown($event,ix)" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex class="title dhandle">
                        {{ i.statement.filename }}
                    </div>
                    <div class="vsui-close" (mousedown)="$event.stopPropagation();$event.preventDefault()" (click)="onTabClose($event,ix)"></div>
                </div>
            </div>
        </ui-content-horizontal>
    </div>
    <div fxFlex class="client" fxLayout="column">
        <ui-query (onStatementChange)="onActiveStatementChange($event)" *ngIf="editorService.list.length>0 && editor" #queryEditor [editor]="editor" fxFlex></ui-query>
        <div *ngIf="!editorActive" #container>

        </div>
    </div>
</div>
