<div class="root mat-app-background" fxLayout="column">
    <ui-content-horizontal class="tabs">
        <div fxLayout="row" fxLayoutAlign="start center" class="tabs-wrap">
            <div *ngFor="let i of range;index as ix" class="item mat-body-1" [class.active]="ix===tabActive" (mousedown)="tabSelect($event,ix)"
                fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex class="title">
                    CqlScript_{{ix}}
                </div>
                <div class="vsui-close">

                </div>
            </div>
        </div>
    </ui-content-horizontal>
    <div fxFlex class="client" fxLayout="column">
        <ui-query fxFlex></ui-query>
    </div>
</div>
