<div class="root mat-app-background" fxLayout="column">
    <ui-content-horizontal class="tabs">
        <div fxLayout="row" fxLayoutAlign="start center" class="wrap">
            <div *ngFor="let i of range;" class="item" fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column" fxFlex>
                    <div fxFlex></div>
                    <div class="mat-caption">SELECT</div>
                    <div class="mat-body-1">{{ i }}</div>
                    <div fxFlex></div>
                </div>
                <div class="close">
                    <mat-icon class="icon-18">close</mat-icon>
                </div>
            </div>
        </div>
    </ui-content-horizontal>
    <div fxFlex class="client" fxLayout="column">
        <ui-query fxFlex></ui-query>
    </div>
</div>
