@import "../../scss/colors";

:host {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    // background-color: fuchsia!important;

    &>.root {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        .header {
            background-color: var(--vscode-editorGroupHeader-tabsBackground);

            .actions {
                padding-left: 8px;

                button {
                    margin-right: 8px;
                }
            }

            .tabs {
                height: 43px;

                .tabs-wrap {
                    padding: 8px 0px 0px 0px;
                }

                .item {
                    position: relative;
                    min-width: 100px;
                    max-width: 200px;
                    user-select: none;
                    height: 35px;
                    background-color: var(--vscode-tab-inactiveBackground);
                    color: var(--vscode-tab-inactiveForeground);
                    border-bottom: 1px solid transparent;
                    padding-left: 8px;
                    border: 1px solid transparent;
                    margin-right: 1px;
                    box-sizing: border-box;
                    cursor: pointer;
                    transform-origin: center bottom;
                    .modified {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: mat-color($accent, 500);
                        margin-right: 8px;
                    }
                    .menu-trigger {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1px;
                        height: 1px;
                        background: transparent;
                    }
                    &.active {
                        background-color: var(--vscode-tab-activeBackground);
                        color: var(--vscode-tab-activeForeground);
                        border-bottom: 1px solid var(--vscode-tab-activeBorder);

                        .vsui-close {
                            opacity: 1;
                        }
                    }
                    &.dragged {
                        z-index: 100;
                        opacity: 0.8;
                    }
                    &.covered {
                        opacity: 0.5;
                        // background-color: mat-color($accent, 300);
                    }
                    &:hover {
                        .vsui-close {
                            opacity: 1;
                        }
                    }
                    &:active {
                        .vsui-close {
                            transform: scale3d(1.5, 1.5, 1);
                        }
                    }
                    .title {
                        padding-right: 8px;
                        position: relative;
                        white-space: nowrap;
                        overflow: hidden;
                        .filename {
                            position: relative;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                    .vsui-close {
                        margin-right: 0.5em;
                        opacity: 0;
                        transition: transform 100ms linear;
                    }
                }
            }
        }
        .client {
            .empty {
                .logo {
                    width: 256px;
                    height: 216px;
                    margin-bottom: 16px;
                }
                .action {
                    margin-bottom: 8px;
                    .sep {
                        width: 16px;
                    }
                }

            }

        }
    }
}
