@import "../../../../scss/colors";

:host {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    &>.root {
        padding: 16px;
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 32px;
        right: 32px;
        bottom: 0;
    }
    .root {
        .title {
            *{
                user-select: none;
            }
            margin:8px 0 32px 8px;
            mat-icon{
                margin-right: 8px;
            }
            .mat-headline{
                margin: 0;
                padding: 0;
            }
        }
    }
}
