@import "../../../../scss/colors";

:host {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    &>.root {
        padding: 16px 16px 0px 16px;
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .root {
        .title {
            * {
                user-select: none;
            }
            margin:8px 0 24px 8px;
            mat-icon {
                margin-right: 8px;
            }
            .mat-headline {
                margin: 0;
                padding: 0;
            }
            .mat-button {
                margin-left: 8px;
            }
        }
        .client {
            position: relative;
            mat-progress-bar {
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                right: 0;
                z-index: 10;
            }
            .scroller {
                overflow-x: hidden;
                overflow-y: auto;
                .item {
                    overflow-x: auto;
                    padding-bottom: 32px;
                    position: relative;
                    background-color: rgba(0, 0, 0, 0.06);
                    margin-bottom: 2px;
                    transform-origin: center center;
                    .body {
                        padding: 8px;
                        cursor: pointer;
                    }

                    &:hover {
                        .actions {
                            opacity: 1;
                        }
                    }
                    .actions {
                        transition: opacity 200ms ease-in-out;
                        opacity: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 32px;
                        background-color: transparent;
                        z-index: 100;
                        padding: 0 8px 8px 8px;

                        .mat-button {
                            margin-left: 8px;
                        }
                        .mat-button:first-of-type {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
}
